body {
  font-family: "Open Sans", "Helvetica", "sans-serif";
  padding-bottom: 200px;
  margin: 0;
  background: #F4F4F4;
}

h1, h2, h3 {
  font-family: "Poppins", "sans-serif";
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}


/* Cards */
.card-container {
  background-color: white;
  border: 1px solid rgb(240, 240, 240);
  padding: 8px;
  width: 250px;
}

.card-container .card-white-image {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 150px;
}

.card-container .list-inline {
  color: #B0B0B0;
  text-align: right;
  padding-top: 8px;
}

.card-container .list-inline li {
  margin-left: 8px;
}

.card-container .btn {
  opacity: 0;
  transition: .3s;
}

.card-white:hover .btn {
  opacity: 1;
}

.card-user {
  margin-top: 8px;
  display: flex;
  align-items: center;
}
.card-user a {
  color: #4B94BD;
}

.card-user a:hover {
  color: #3F7EA3;
}

.cards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
